<form method="post" action="{{ path('app_vol_delete', {'id': vol.id}) }}" onsubmit="return confirm('Tu es sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vol.id) }}">
    <button class="btn btn-dark"><i class="bi bi-trash"></i> Supprimer</button>
</form>
